php artisan --version
stages:
  - build
  - test

composer_install:
  stage: build
  image: php:8.2
  before_script:
    - apt-get update && apt-get install -y unzip git
    - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
  script:
    - composer --version
    - composer install --no-interaction --no-progress --prefer-dist
  cache:
    key: composer-cache
    paths:
      - vendor/

laravel_check:
  stage: test
  image: php:8.2
  script:
    - php artisan --version
